@import "compass_twitter_bootstrap";

@import "input_highlights";

body {
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: #999;
  background:url('../images/ignore/ticks.png');
}

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.unknown {
  color: #bbb;
}

.reachable {
  color: #99CC00;
}

.unreachable {
  color: #f00;
}

  .status-icons{
    line-height:29px;
    span{
      padding:0px 20px 0px 10px;
    }
    i{
      vertical-align:middle;
    }
    i,span{
      color:$errorText;
    }
    i.positive,span.positive{
      color:$successText;
    }
  }
.user-table{

  .thumbnails{
    .thumbnail{
      background-color:#fff;
      padding:10px;
      cursor:hand;
      cursor:pointer;
    }
    .img-circle{
      margin-right:20px;
    }
    h3{
      margin-top:0px;
      line-height:28px;
    }

  }
  
  
}
/*
.user-table {
  background-color: #fff;
  padding: 10px;

  tr th:hover {
    text-decoration: underline;
    cursor: hand;
    cursor: pointer;
  }
  .value {
    font-weight: bold;
  }
}*/

.personal-page {
  .user-avatar {
    padding: 10px;
  }
  .user-header {
    padding:10px;
    position: relative;
    background-color: #fff;  
    //@include border-top-right-radius(10px);
    .img-circle{
      margin-right:20px;
    }
    h3{
      margin-top:0px;
      line-height:28px;
    }

  }
  
  .user-info, {
    height: 50px;
  }
  
  .reachability {
    margin-top: 40px;
    font-size: 2em;
  }
  
  .user-name {
    font-weight: bold;
    font-size : 2em;
  } 
}

#user-image {
  margin: 10px;
  float: left;
}
#user-details {
  float: left;
  padding: 25px 0 0 15px;

  .p {
    margin-left: 40px;
  }
}

#back-button {
  //@include border-radius(0);
  width: 75px;
  margin-bottom:20px;
}

.bottom .widget {
  //@include border-bottom-radius(10px);  
}
.widget {
  padding: 10px;
  margin-top: 20px;
  background-color: #fff;
  
  .title {
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .chart {
    margin-top: 20px
  }
}


