<div class="personal-page">
 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#/dashboard"><img src="images/ignore/icon.png"></a>
          <div class="nav-collapse collapse">
            <ul class="nav right">
              <li><a href="#/dashboard">Sense Dashboard</a></li>
            </ul>
            <a class="btn pull-right" href="#/dashboard"><i class="icon-arrow-left"></i> Back</a>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

  <div class="row-fluid user-header">
    <div class="span9 user-info">
      <img id="user-image" ng-src="{{ user.email | gravatarUrl:80 }}"/>
      <div id="user-details">
        <p class="user-name">
        {{ user.name }} {{ user.surname }}
        </p>
        <p class="user-email">
        {{ user.email }}
        </p>
      </div>
    </div>
    <div class="span3 reachability">
      <span class="reachable"></span>
      <span ng-class="{reachable: reachability == 'reachable', unreachable: reachability == 'unreachable', unknown: reachability == 'Unknown'}" class="value">
        {{ reachability }}
        <span ng-show="dashboardDebug">{{ reachabilitySensor.id }}</span>
      </span>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12 widget">
      <div class="title">
        Personal Weather (1 week)
        <span ng-show="dashboardDebug">{{ weatherSensor.id }}</span>
      </div>
      <div id="weatherChart" height="300">No data found</div>
    </div>
  </div>

  <div class="row-fluid bottom">
    <div class="span4 widget">
      <div class="title">
        Accelerometer (5 min)
        <span ng-show="dashboardDebug">{{ accelerometerSensor.id }}</span>
      </div>
      <div id="accelerometerChart" height="200">No data found</div>
    </div>
    <div class="span4 widget">
      <div class="title">
        Sleep
        <span ng-show="dashboardDebug">{{ sleepSensor.id }}</span>
      </div>
      <chart class="chart" value='{{ personalSleepData }}' type="column" height="200">No data found</chart>
    </div>
    <div class="span4 widget">
      <div class="title">
        Activity (1 hour)
        <span ng-show="dashboardDebug">{{ activitySensor.id }}</span>
      </div>
      <div id="activityChart" height="200">No data found</div>
    </div>
  </div>
</div>
